In [1]:
import pandas as pd

In [9]:
edata = pd.read_csv('C:\\Users\\ivanc\\PycharmProjects\\scientificProject\\data\\01_datamanip\\echocardiogram.data',sep=',',header=None)
edata

      0  1   2  3      4       5      6     7      8      9     10 11 12
0     11  0  71  0  0.260       9  4.600    14      1      1  name  1  0
1     19  0  72  0  0.380       6  4.100    14  1.700  0.588  name  1  0
2     16  0  55  0  0.260       4  3.420    14      1      1  name  1  0
3     57  0  60  0  0.253  12.062  4.603    16  1.450  0.788  name  1  0
4     19  1  57  0  0.160      22  5.750    18  2.250  0.571  name  1  0
..   ... ..  .. ..    ...     ...    ...   ...    ...    ...   ... .. ..
127  7.5  1  64  0   0.24    12.9   4.72    12      1  0.857  name  ?  ?
128   41  0  64  0   0.28    5.40   5.47    11   1.10  0.714  name  ?  ?
129   36  0  69  0   0.20    7.00   5.05  14.5   1.21  0.857  name  ?  ?
130   22  0  57  0   0.14    16.1   4.36    15   1.36  0.786  name  ?  ?
131   20  0  62  0   0.15       0   4.51  15.5  1.409  0.786  name  ?  ?

[132 rows x 13 columns]

In [11]:
edata.columns = ['survival','still-alive','age-at-heart-attack','pericardial-effusion','fractional-shortening','epss','lvdd','wall-motion-score','wall-motion-index','mult','name','group','alive-at-1']
edata

,survival,still-alive,age-at-heart-attack,pericardial-effusion,fractional-shortening,epss,lvdd,wall-motion-score,wall-motion-index,mult,name,group,alive-at-1
0,11,0,71,0,0.260,9,4.600,14,1,1,name,1,0
1,19,0,72,0,0.380,6,4.100,14,1.700,0.588,name,1,0
2,16,0,55,0,0.260,4,3.420,14,1,1,name,1,0
3,57,0,60,0,0.253,12.062,4.603,16,1.450,0.788,name,1,0
4,19,1,57,0,0.160,22,5.750,18,2.250,0.571,name,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,7.5,1,64,0,0.24,12.9,4.72,12,1,0.857,name,?,?
128,41,0,64,0,0.28,5.40,5.47,11,1.10,0.714,name,?,?
129,36,0,69,0,0.20,7.00,5.05,14.5,1.21,0.857,name,?,?
130,22,0,57,0,0.14,16.1,4.36,15,1.36,0.786,name,?,?
131,20,0,62,0,0.15,0,4.51,15.5,1.409,0.786,name,?,?

In [14]:
edata = edata.drop('name',axis=1)
edata

,survival,still-alive,age-at-heart-attack,pericardial-effusion,fractional-shortening,epss,lvdd,wall-motion-score,wall-motion-index,mult,group,alive-at-1
0,11,0,71,0,0.260,9,4.600,14,1,1,1,0
1,19,0,72,0,0.380,6,4.100,14,1.700,0.588,1,0
2,16,0,55,0,0.260,4,3.420,14,1,1,1,0
3,57,0,60,0,0.253,12.062,4.603,16,1.450,0.788,1,0
4,19,1,57,0,0.160,22,5.750,18,2.250,0.571,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
127,7.5,1,64,0,0.24,12.9,4.72,12,1,0.857,?,?
128,41,0,64,0,0.28,5.40,5.47,11,1.10,0.714,?,?
129,36,0,69,0,0.20,7.00,5.05,14.5,1.21,0.857,?,?
130,22,0,57,0,0.14,16.1,4.36,15,1.36,0.786,?,?
131,20,0,62,0,0.15,0,4.51,15.5,1.409,0.786,?,?

In [ ]:
edata.t